h1{
    color: rgb(23, 5, 5);
    font-size: 18
    font-family:medium
}



body{
    background-color: rgb(168, 208, 230);
}

p{
    text-indent: 20px;
}

h2{
    color: rgb(31, 5, 5);
    height: 8px;
    width: 50%
}

#one{
    position: absolute; top: 30px; left: 20px;
    background-color: azure;
    padding: 20px;
    border-style: groove;
  
}

#two{
    position: absolute; top: 28px; left: 390px;
}
    

#three{
    position:absolute; top: 170px; left: 20px;
}

#four{
    position: absolute; top: 169px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
   
    font-size: 17px
    
}

#five{
    position: absolute; top: 260px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
    
    font-size: 17px;
}

#six{
    position: absolute; top: 919px; left: 20px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
    
    font-size: 20px;
} 

#seven{
    position: absolute; top: 328px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
    
    font-size: 17px;
}

#eight{ 
    position: absolute; top: 418px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
   
    font-size: 17px;
}

#nine{
    position: absolute; top: 509px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
   
    font-size: 17px;
}

#ten{
    position: absolute; top: 600px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
   
    font-size: 17px;
}

#eleven{
    position: absolute; top: 711px; left: 670px;
    background-color: azure;
    padding: 1px;
    border-style: groove;
    
    font-size: 17px;
}

#tweleve{
    position: absolute; top: 615px; left: 20px;
    font-size: 18px;
}

#thirteen{
    position: absolute; top: 615px; left: 165px;
    font-size: 18px;
}

#fourteen{
    position: absolute; top: 1415px; left: 350px;
    font-size: 18px;
}

#fifteen{
    position: absolute; top: 615px; left: 320px;
    font-size: 18px;
}

#sixteen{
    position: absolute; top: 655px; left: 20px;
    font-size: 18px;
}

#seventeen{
    position: absolute; top: 655px; left: 335px;
    font-size: 18px;
}

#eighteen{
    position: absolute; top: 695px; left: 20px;
    font-size: 18px;
}

#nineteen{
    position: absolute; top: 695px; left: 215px;
    font-size: 18px;
}